<!DOCTYPE html>
<html>
  <head>
    <title>sush.io Demo App</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag :application, media: :all %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
    <%= yield(:head) if defined?(:head) %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa fa-home" aria-hidden="true"></i>
            <%= t 'layout.home' %>
          <% end %>
          <%= link_to users_path, class: "navbar-brand" do %>
            <i class="fa fa-users" aria-hidden="true"></i>
            <%= t 'layout.users' %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>